:root {
    --back-ground: #060748;
    --back-ground-shadow: #06074863;
    --shadow-hover: #3a3c85;
    --fore-ground: #FED46D;
    --fore-ground-shadow: #fed56dd8; 
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 40px 60px;
    background-color: #eee;
    box-sizing: border-box;
}

.title {
    font-size: 32px;
    font-weight: bold;
    color: var(--back-ground);
    margin-bottom: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    margin-top: 20px;
    width: 100%;
}

.productCard {
    background: #fff;
    width: 250px;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    border: 1px solid #f3f3f3;
}

.productCard:hover {
    border: 1px solid var(--shadow-hover);
    transform: scale(1.1);
    box-shadow: 0 0 8px var(--back-ground);
}

.productName {
    margin: 10px 0 5px;
    font-size: 16px;
    color: #000000;
}

.productImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.productCategory {
    font-size: 14px;
    color: #666;
    margin: 5px 0 10px 0;
}

.productPrice {
    color: var(--back-ground);
    font-weight: bold;
    font-size: 17px;
    margin: 10px 0;
}

.viewProductLink {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    background-color: var(--back-ground);
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.2s ease;
    display: inline-block;
    text-align: center;
}

.viewProductLink:hover {
    background-color: var(--shadow-hover);
    transform: scale(1.03);
}

.noResults {
    text-align: center;
    padding: 40px 20px;
    color: #666;
    font-size: 16px;
}

@media (max-width: 1000px) {
    .container {
        width: 100%;
        padding: 40px 60px;
        background-color: #eee;
    }

    .grid {
        max-width: 100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
        background-color: #eee;
    }

    .grid {
        max-width: 100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .productCard {
        background: #ffffff;
        width: 190px;
        border-radius: 10px;
        padding: 15px;
        text-align: center;
        border: 1px solid #f3f3f3;
    }
}